# Compiled and vendored files
coverage/
database_reports/
website/build/
website/transpiled-babel/
# Has its own linter
website/client/
website/common/transpiled-babel/
dist/
dist-client/
apidoc/html/
content_cache/
i18n_cache/
node_modules/

# Old migrations, disabled
migrations/archive/*
migrations/challenges/*

# Tests for removed features
test/api/unit/libs/payments/amazon/
test/api/unit/libs/payments/group-plans/
test/api/unit/libs/payments/payments.test.js
test/api/unit/libs/pushNotifications.test.js
test/api/unit/libs/slack.js
test/api/unit/middlewares/blocker.test.js
test/api/unit/models/challenge.test.js
test/api/unit/models/task.test.js
test/api/unit/models/user.test.js
test/api/v3/integration/analytics/POST-analytics_track_eventName.test.js
test/api/v3/integration/chat/POST-chat.flag.test.js
test/api/v3/integration/chat/POST-chat.test.js
test/api/v3/integration/chat/POST-groups_id_chat_id_clear_flags.test.js
test/api/v3/integration/members/POST-members_memberId_flag.js
test/api/v3/integration/user/POST-user_sleep.test.js
